---
layout: base.njk
templateClass: tmpl-homepage
---
<h1>All articles</h1>
<hr>
{%- for post in collections.post | reverse -%}
  <a href="{{post.url}}">
    <p>{{ post.data.title }} - {{post.date | postDate }}</p>
  </a>
  <hr>
{%- endfor -%}
