---
layout: base.njk
templateClass: tmpl-homepage
---
<div class="section">
<h2 class="section-header">Latest articles</h2>
{% set latestposts = collections.post | reverse | limit(3) %}
{% for post in latestposts %}
  <a href="{{post.url}}">
    <p>{{ post.data.title }}</p>
  </a>
{% endfor %}
<a href="post-list"><button class="btn btn-secondary btn-lg">See all</button></a>
</div>
{{ content | safe }}