---
layout: base.njk
templateClass: tmpl-homepage
---
<h1>All articles</h1>
<hr>
{%- for post in collections.post | reverse -%}
<div class="article">
    <a href="{{post.url}}">
        <h4>{{ post.data.title }}</h3>
        <p class="article-description">{{ post.data.description }}</p>
    </a>
    <hr>
</div>
{%- endfor -%}
