
/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  background-color: #F4F3EE;
}

body {
  width: 65%;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #8A817C;
}

p, li {
  font-family: 'Oxygen', sans-serif;
  color: #2a2a2a;
  font-size: 1.2rem;
  line-height: 1.5;
}

h1 {
  color: #463F3A;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: left;
  border-bottom: 1px solid gray;
}

h3 {
  font-size: 1.5rem;
}

/* || backgrounds */

nav, article, aside, footer {
  background-color: #f1ddcfff;
}

/* || header layout */

nav {
  background-color: #f1ddcfff;
  margin-bottom: 10px;
  display: flex;
  padding: 0px;
}

nav ul {
  padding: 0px;
  list-style-type: none;
  display: inline-flex;
  flex: 1;
}

nav li {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  display: inline-flex;
  flex: 1;
}

a {
  text-decoration: none;
  color: black;
  flex: 1;
}

a:hover {
  background-color: #e7d5c9;
  text-emphasis: bold;
}

a:active {
  background-color: #e7d5c9;
}

/* || main layout */

main {
}

article {
  padding: 0.5%;
  margin-bottom: 1%;
  text-align: left;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-gap: 10px;
}

.wrapper > div {
       text-align: center;
       padding: 0;
   }

.post-title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 1%;
}

.post-subtitle {
    font-size: 1rem;
    line-height: 1.2;
    margin: 1%;
}

img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: #f1ddcfff;
}

aside li {
  padding-bottom: 10px;
}


footer {
  margin-top: 10px;
}
