
/* || General setup */

html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
  background-color: #F4F3EE;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  color: #8A817C;
  font-family: 'Montserrat', sans-serif;
}

p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: #463F3A;
}

h2 {
  font-size: 3rem;
}


p, li {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #463F3A;
}

/* || header layout */

nav, article, aside, footer {
  background-color: #f1ddcfff;
  padding: 1%;
}

nav {
  height: 20px;
  background-color: #f1ddcfff;
  display: flex;
  margin-bottom: 5px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
  margin-top: -5px;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 5px;
  background-color: #f1ddcfff;
}

aside li {
  padding-bottom: 10px;
  margin-left: -10px;
}

footer {
  margin-top: 10px;
}

/*

$color1: #fff5eeff;
$color2: #f1ddcfff;
$color3: #c0d6dfff;
$color4: #4f6d7aff;
$color5: #c09999ff; */

/* brown based one
$color1: #463f3aff;
$color2: #8a817cff;
$color3: #bcb8b1ff;
$color4: #f4f3eeff;
$color5: #e0afa0ff; */
