---
layout: base.njk
templateClass: tmpl-homepage
---
<h1>Blog</h1>
{%- for post in collections.post | reverse -%}
  <a href="{{post.url}}">
    <div class="article">
      <h3 class="article-title">{{ post.data.title }}</h3>
      <p class="article-date">{{post.date | postDate }}</p>
    </div>
  </a>
{%- endfor -%}
