
/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  background-color: #F4F3EE;
}

body {
  width: 80%;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #8A817C;
}

p, li {
  font-family: 'Oxygen', sans-serif;
  color: #2a2a2a;
  font-size: 1.4rem;
  line-height: 1.5;
}

h1 {
  color: #463F3A;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

/* || backgrounds */

nav, article, aside, footer {
  background-color: #f1ddcfff;
}

/* || header layout */

nav {
  background-color: #f1ddcfff;
  margin-bottom: 10px;
  display: flex;
  padding: 0px;
}

nav ul {
  padding: 0px;
  list-style-type: none;
  display: inline-flex;
  flex: 1;
}

nav li {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  display: inline-flex;
  flex: 1;
}

a {
  text-decoration: none;
  color: black;
  flex: 1;
}

a:hover {
  background-color: #e7d5c9;
  text-emphasis: bold;
}

a:active {
  background-color: #e7d5c9;
}

/* || main layout */

main {
}

article {
  padding: 1%;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-gap: 10px;
}

.wrapper > div {
       text-align: center;
       padding: 0;
   }

.post-title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 1%;
}

.post-subtitle {
    font-size: 1rem;
    line-height: 1.2;
    margin: 1%;
}

img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 700px) {
  .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 300px 300px;
      grid-gap: 10px;
  }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*
aside {
  flex: 1;
  margin-left: 10px;
  background-color: #f1ddcfff;
}

aside li {
  padding-bottom: 10px;
}*/

footer {
  margin-top: 10px;
}

/*

$color1: #fff5eeff;
$color2: #f1ddcfff;
$color3: #c0d6dfff;
$color4: #4f6d7aff;
$color5: #c09999ff; */

/* brown based one
$color1: #463f3aff;
$color2: #8a817cff;
$color3: #bcb8b1ff;
$color4: #f4f3eeff;
$color5: #e0afa0ff; */
