
/* || General setup */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
  background-color: #FFFBF6;
}
body {
  width: 100%;
  margin: 0 auto;
}

/* ----------- TYPOGRAPHY ---------------------------------------------- */

h2, h3, h4 {
  font-family: 'Oxygen', sans-serif;
  color: #8A817C;
  font-size: 20px;
}
h1{
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  color: #8A817C;
}
h3 {
  font-size: 16px;
}

p, li {
  font-family: 'Oxygen', sans-serif;
  color: #2A2A2A;
  font-size: 14px;
  line-height: 24px;
}
a {
  color: #8A817C;
  text-decoration: none;
}

/* ---------------------------------------------------------------------- */
/* ------------- MENU --------------------------------------------------- */
/* ---------------------------------------------------------------------- */
nav{
  background-color: #EAE6E0;
}
ul{
   list-style-type: none;
}
.menu {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
  padding: 5px 0px 5px 0px;
}
.menu li a {
  display: block;
  color: #8A817C;
}
.item{
  display:block;
  width:auto;
}
.item.logo{
  flex:2;
  font-size:16px;
  margin-left: 20px;
}
.item.title{
  flex:6;
  font-size:20px;
  text-align: center;
}
.item.secondary{
  flex:1;
  text-align:center;
  font-size:16px;
}


/* ---------------------------------------------------------------------- */
/* ------------- TITLE -------------------------------------------------- */
/* ---------------------------------------------------------------------- */

main {
  margin: 40px auto;
  width: 50%;
}

.heading {
  display:block;
  text-align:center;
  padding: 5px 0px;
  border: 3px solid #8A817C;
  border-radius: 4px;
  margin: 25px 0px;
}
.article{
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.sub-heading{
  padding-bottom: 10px;
}

.main-title{
  padding: 20px;
  border-bottom: 1px solid gray;
  text-align:center;
  background-color: #EAE6E0;
}

/* -----------------------------------------------------------------------
--------------- MAIN -----------
------------------------------------------------- */

main h2 {
  margin-bottom: 15px;
  border-bottom: 0.5px solid gray;
  text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 300px;
    grid-gap: 10px;
}

.wrapper > div {
       text-align: center;
       padding: 0;
   }

.post-title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 10px 5px 5px 5px;
}

.post-subtitle {
    font-size: 1rem;
    line-height: 1.2;
    margin: 5px 6px 10px 6px;
}


img {
  width: 70%;
  height: 50%;
  object-fit: cover;
  text-align: center;
}



.about{
}

.about_page{
  margin-bottom: 30px;
}

.about_author{
  margin-top: 5px;
  margin-bottom: 30px;
}
