
/* || General setup */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
  background-color: #F4F3EE;
}
body {
  width: 100%;
  margin: 0 auto;
}

/* ----------- TYPOGRAPHY ---------------------------------------------- */

h2, h3, h4 {
  font-family: 'Oxygen', sans-serif;
  color: #8A817C;
  font-size: 20px;
}
h1{
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
  color: #8A817C;
}

p, li {
  font-family: 'Oxygen', sans-serif;
  color: #2A2A2A;
}
a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #000000;
}

/* ---------------------------------------------------------------------- */
/* ------------- MENU --------------------------------------------------- */
/* ---------------------------------------------------------------------- */
nav{
  background-color: #F1DDCFFF;
}
ul{
   list-style-type: none;
}
.menu {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
  padding: 5px 0px 5px 0px;
}
.menu li a {
  display: block;
  color: #8A817C;
}
.item{
  display:block;
  width:auto;
}
.item.logo{
  flex:2;
  font-size:16px;
  margin-left: 20px;
}
.item.title{
  flex:6;
  font-size:28px;
  text-align: center;
}
.item.secondary{
  flex:1;
  text-align:center;
  font-size:16px;
}


/* ---------------------------------------------------------------------- */
/* ------------- TITLE -------------------------------------------------- */
/* ---------------------------------------------------------------------- */

main {
  margin: 10px auto;
  width: 60%;
}

.heading {
  margin: 20px 0px;
  padding: 10px;
  text-align:center;
  display:block;
  border: 5px solid #8A817C;
  border-radius: 4px;
}

.article{
  margin: 20px 0px;
  padding: 5px;
  border: 1px solid black;
}
