
/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #F4F3EE;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #8A817C;
}

p, li {
  font-family: 'Oxygen', sans-serif;
  color: #2a2a2a;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  color: #463F3A;
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

/* || header layout */

nav, article, aside, footer {
  background-color: #f1ddcfff;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: #f1ddcfff;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}


/* || main layout */

main {
}

article {
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*
aside {
  flex: 1;
  margin-left: 10px;
  background-color: #f1ddcfff;
}

aside li {
  padding-bottom: 10px;
}*/

footer {
  margin-top: 10px;
}

/*

$color1: #fff5eeff;
$color2: #f1ddcfff;
$color3: #c0d6dfff;
$color4: #4f6d7aff;
$color5: #c09999ff; */

/* brown based one
$color1: #463f3aff;
$color2: #8a817cff;
$color3: #bcb8b1ff;
$color4: #f4f3eeff;
$color5: #e0afa0ff; */
